body{
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
    background-color: #FFF6EA;
}
.book{
    height: 10%;
    width: 10%;
    margin-top: 20px;
}
.knowledge-text{
    color: #66BFBF;
}
.list{
    text-align: left;
}
.Knowledge-content{
    width: 60%;
    margin: 0 auto;
    line-height: 2;
    word-spacing: normal;
}